---
import { getCollection } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<ContentLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <h4 class="animate font-semibold text-black dark:text-white">
    Blog
  </h4>
  <div class="space-y-16">
    <section>
      <article class="animate space-y-4">
        <p>
          {BLOG.DESCRIPTION}
        </p>
      </article>
    </section>

    <section class="animate space-y-6">
      <ul class="flex flex-col gap-4">
        {posts.map(post => (
          <li>
            <ArrowCard entry={post} />
          </li>
        ))}
      </ul>
    </section>
  </div>
</ContentLayout>
