---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts"; // We'll add this to consts.ts next
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold text-black dark:text-white text-3xl">
        About Me
      </h1>
      <section class="animate">
        <article class="space-y-4">
          <p>
            This is the about page. You can write a bit about yourself here.
          </p>
          <p>
            Talk about your experiences, skills, and anything else you'd like to share.
          </p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout> 