---
import ContentLayout from "@layouts/ContentLayout.astro";
import { ABOUT } from "@consts"; // We'll add this to consts.ts next
---

<ContentLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <div class="space-y-10">
    <h1 class="animate font-semibold text-black dark:text-white text-3xl">
      Short Bio
    </h1>
    <section class="animate">
      <article class="space-y-4">
        Justin Murphy is a writer living in Austin, TX. Before going full-time as an independent scholar in 2019, he was a professor for 5 years at the University of Southampton in the United Kingdom.
        His work has appeared in peer-reviewed journals such as <i>International Studies Quarterly</i> and <i>The British Journal of Political Science</i>, as well as public outlets such as <i>Foreign Affairs</i> and <i>The New Statesman</i>.
        Today he writes widely on topics across the humanities and social sciences, publishing a newsletter, podcast, and videos to an audience of about 75,000. He's the founder of <a href="https://indiescholars.org">IndieScholars.org</a> a 1-year program for advanced independent study.
    </section>
  </div>
</ContentLayout>