---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE, THEME } from "@consts";
---

<header class:list={[
  THEME.header.opaque ? `${THEME.background.home.light} dark:${THEME.background.default.dark}` : "",
]}>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="hidden md:inline-flex gap-2 font-medium text-sm">
        <a href="/blog" class="hover:text-black dark:hover:text-white"> Blog </a>
        {/* <a href="/projects" class="hover:text-black dark:hover:text-white"> Projects </a> */}
        {/* <a href="/work" class="hover:text-black dark:hover:text-white"> Work </a> */}
        <a href="/about" class="hover:text-black dark:hover:text-white"> About </a>
      </nav>

      <button
        id="mobile-menu-button"
        class="md:hidden"
        aria-label="Open Menu"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>

      <nav
        id="mobile-menu"
        class="hidden md:hidden flex-col w-full gap-2 font-medium text-sm"
        aria-labelledby="mobile-menu-button"
      >
        <a href="/blog" class="hover:text-black dark:hover:text-white p-4 -m-4"> Blog </a>
        {/* <a href="/projects" class="hover:text-black dark:hover:text-white p-4 -m-4">
          Projects
        </a> */}
        {/* <a href="/work" class="hover:text-black dark:hover:text-white p-4 -m-4"> Work </a> */}
        <a href="/about" class="hover:text-black dark:hover:text-white p-4 -m-4"> About </a>
      </nav>
    </div>
  </Container>
</header>

<script>
  const menuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  if (menuButton && mobileMenu) {
    menuButton.addEventListener('click', () => {
      const isHidden = mobileMenu.classList.contains('hidden');
      if (isHidden) {
        mobileMenu.classList.remove('hidden');
        mobileMenu.classList.add('flex');
        menuButton.setAttribute('aria-expanded', 'true');
      } else {
        mobileMenu.classList.add('hidden');
        mobileMenu.classList.remove('flex');
        menuButton.setAttribute('aria-expanded', 'false');
      }
    });
  }
</script>
